{% extends "master.html" %}

{% block title %}Edit team member{% endblock %}

{% block content %}
    <h1>Edit team member</h1>
    <div class="subtitle">Edit contact info, location and role.</div>

    <form method="POST">
        {% csrf_token %}
        <h3>Info</h3>
        <input type="text" name="first_name" value="{{ mymember.first_name }}" required>
        <input type="text" name="last_name" value="{{ mymember.last_name }}" required>
        <input type="email" name="email" value="{{ mymember.email }}" required>
        <input type="tel" name="phone" value="{{ mymember.phone }}" required>

        <h3>Role</h3>
        <div class="role-selector">
            <label class="role-option">
                <input type="radio" name="role" value="Regular" {% if mymember.role == 'Regular' %}checked{% endif %}>
                Regular - Can't delete members
            </label>
            <label class="role-option">
                <input type="radio" name="role" value="Admin" {% if mymember.role == 'Admin' %}checked{% endif %}>
                Admin - Can delete members
            </label>
        </div>

        <button type="submit" name="delete" class="delete-button">Delete</button>
        <button type="submit" class="save-button">Save</button>
    </form>
{% endblock %}